---
layout: default
---
<article>
  <header>
  <h2>{{ page.title }}</h2>
  <p><small>{{ page.date | date_to_string }}</small></p>
  </header>

{{ content }}
  </br>
  If you read this far you should probably follow me on <a href="https://www.twitter.com/i0rek">twitter</a>.
</article>
<footer>
  {% if page.previous %}
  <br />
  <small><a href="{{ page.previous.url }}" class="previous">&laquo;&nbsp;{{ page.previous.title }}</a></small>
  {% endif %}
  {% if page.next %}
  <div style="float:right;"><small><a href="{{ page.next.url }}" class="next">{{ page.next.title }}&raquo;&nbsp;</a></small></div>
  {% endif %}
</footer>
